* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /*Rolagem mais fluída*/
}
/*Criando variáveis de cores*/
:root {
    --titulos: #00FF9F;
    --texto: #D1D5DB;
}

body {
    background: linear-gradient(180deg, #0D1117, #020617);
    color: var(--texto);
    padding-bottom: 30px;
}

.navegacao {
    position: fixed;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: #E6EDF3;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}
/*Estilizando os menus*/
.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #00FF9F, #00C896);
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/*Ajustando a foto e chamando a animação flutuar*/
.foto-perfil {
    width: 350px;
    height: 350px;
    border: 3px solid #00FF9F;
    box-shadow: 0 0 25px #00FF9F;
    border-radius: 50%;
    animation: flutuar 5s ease-in-out infinite; /*Chamando a animação*/
}

h1 {
    font-size: 3.5rem;
    color: var(--titulos);
    font-weight: bold;
    margin: 20px;
}

.sub-titulo {
    font-size: 1.5rem;
    color: var(--texto);
    text-align: center;
}

.formacao {
    padding: 6rem 2rem;
}

.form-titulo {
    font-size: 3rem;
    color: var(--titulos);
    text-align: center;
    margin-bottom: 20px;
}
/*Estilizando o bloco da seção formação*/
.form-bloco {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--texto);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    padding-bottom: 100px;
}

.form-paragrafo {
    text-align: center;
    font-size: 1.2rem;
    
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    color: var(--titulos);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px #00FF9F;
    transform: translateY(-10px) scale(1.03); /*Reposicionando o elemento*/
}
/*Criando colunas para armazenar os projetos*/
.projetos-bloco {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    margin-bottom: 400px;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--texto);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projeto-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.title-card {
    margin-bottom: 5px;
}

.caixa-texto-projetos {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.contatos-titulo {
    text-align: center;
    color: var(--titulos);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    padding-bottom: 100px;
    max-width: 300px;
    max-height: 90px;
    backdrop-filter: blur(10px);
    border-radius: 30%;
    margin: 0 auto;
    padding-top: 45px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.03);
    margin-bottom: 400px;
}

.icone {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    cursor: pointer;
    transition: 0.3s;
    padding-bottom: 10px;
}

.icone:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px #00FF9F); /*Sombreando o elemento*/
}

.dev {
    display: flex;
    gap: 10px;
    padding-top: 30px;
}
.dev-titulo {
    color: #95eed8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linguagem {
    width: 40px;
    height: 50px;
    transition: 0.4s;  
}

.linguagem:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px #00FF9F);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 20% 30%, rgba(0,255,159,0.15) 0%, transparent 25%), /*Mudando a cor em formato de círculo*/
    radial-gradient(circle at 80% 70%, rgba(0,255,159,0.10) 0%, transparent 25%); /*Mudando a cor em formato de círculo*/
}
/*Animação da foto de perfil*/
@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
/*Adaptando os elementos pra mobile*/
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .foto-perfil {
        width: 220px;
        height: 220px;
    }

    .menu {
        gap: 1.5rem;
        font-size: 14px;
    }
    .dev {
        padding-top: 20px;
    }
}
